<div class="font-['Podkova'] bg-yellow-700 p-10">
    <!--    LOGO-->
    <div class="flex items-center gap-1 w-1/4 text-white text-2xl ">
        <div class=""><i class="fa-solid fa-book"></i></div>
        <div class="font-semibold ">BKShop</div>
    </div>
    <!--    -->
    <div class="my-5 flex gap-20">
        <ul>
            <li class="text-white hover:text-amber-400 hover:cursor-pointer py-1">Về chúng tôi</li>
            <li class="text-white hover:text-amber-400 hover:cursor-pointer py-1">
                <span><i class="fa-brands fa-facebook"></i></span>
                <span>Facebook</span>
            </li>
            <li class="text-white hover:text-amber-400 hover:cursor-pointer py-1">
                <span><i class="fa-brands fa-instagram"></i></span>
                <span>Instagram</span>
            </li>
        </ul>
        <ul>
            <li class="text-white py-1">Thể loại</li>
            <li class="text-white hover:text-amber-400 hover:cursor-pointer py-1">Category 1</li>
            <li class="text-white hover:text-amber-400 hover:cursor-pointer py-1">Category 2</li>
        </ul>
    </div>
    <div class="text-white text-2xl">
        <p>Phuong Huy &copy; 2023</p>
    </div>

</div>