<script src="{{ url_for('static', filename='js/admin.js') }}"></script>
<div class="font-['Podkova'] flex items-center text-xl h-14 py-1 bg-amber-400 relative z-99">
    <!--    LOGO-->
    <div class="flex items-center pl-10 text-black w-1/4">
        <span class="mr-5 hover:text-white cursor-pointer duration-300" onclick="toggleNav(this)">
            <i class="fa-solid fa-bars"></i>
        </span>
        <a href="/" class="flex items-center gap-1 ">
            <div class=""><i class="fa-solid fa-book"></i></div>
            <div class="font-semibold ">BKShop</div>
        </a>
    </div>
    <!--    Featers-->
    <div class="flex gap-3 items-center justify-center w-1/2">
        <div class="relative group z-10">
            <i class="fa-solid fa-icons hover:text-yellow-700 hover:cursor-pointer transition duration-500"></i>
            <div class="absolute hidden group-hover:block bg-yellow-700 text-white p-5 min-w-[25rem] rounded-lg">
                <div class="font-bold">Thể loại</div>
                <div class="flex gap-5 w-full">
                    {% for cate in cates %}
                    <div class="text-sm">
                        <a href="/?cate_id={{ cate.id }}">{{ cate.name }}</a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <form method="get" action="/" class="w-2/3 relative">
            <input type="text" name="kw" class="w-full rounded-full px-5 py-2 text-sm">
            <button type="submit" class="absolute right-5 top-1/2 -translate-y-1/2">
                <i class="fa-solid fa-magnifying-glass text-sm"></i>
            </button>
        </form>
        <div class="flex gap-3">
            <div class="">
                <i class="fa-solid fa-bell hover:text-yellow-700 hover:cursor-pointer transition duration-500"></i>
            </div>
            <a href="/cart" class="">
                <i class="fa-solid fa-cart-shopping hover:text-yellow-700 hover:cursor-pointer transition duration-500"></i>
            </a>
        </div>
    </div>
    <!--    Login-->
    <div class="w-1/4 font-semibold h-full flex justify-end pr-10 gap-2">
        {% if user.is_authenticated %}
        <div class="flex items-center gap-3 relative group z-10">
            <div class="flex items-center group-hover:text-yellow-700 border-2 border-yellow-700 rounded-full">
                <img src="{{ user.avatar }}" alt="avatar" class="w-10 h-10 rounded-full ">
            </div>
            <div class="group-hover:text-yellow-700">{{ user.name }}</div>
            <div class="absolute min-w-[15rem] hidden group-hover:block  right-0 top-full bg-yellow-700 text-white rounded-lg">
                <div class="flex items-center gap-3 px-5 py-2">
                    <i class="fa-solid fa-right-from-bracket text-sm "></i>
                    <form method="post" action="/logout">
                        <button type="submit">Đăng xuất</button>
                    </form>
                </div>
                {% if user and user.user_role != Role.USER %}
                <a href="/admin" class="flex items-center gap-3 px-5 py-2">
                    <i class="fa-solid fa-folder text-sm "></i>
                    <div>Quản lý sách</div>
                </a>
                {% endif %}
            </div>
        </div>
        {% else %}
        <div class="bg-yellow-700 text-white rounded-lg w-1/2 h-full flex items-center justify-center hover:bg-amber-500 transition duration-500">
            <a href="/login">ĐĂNG NHẬP</a>
        </div>
        <div class="bg-black text-white rounded-lg w-1/2 h-full flex items-center justify-center hover:bg-amber-500 transition duration-500">
            <a href="/sign-up">ĐĂNG KÝ</a>
        </div>
        {% endif %}
    </div>
</div>