{% extends 'client/detail.html' %}

{% block detail %}

<div class="even:bg-yellow-700 odd:bg-amber-400 even:text-white odd:text-black flex py-3 px-5 text-lg">
    <div class="w-1/4">Tác giả:</div>
    <div class="w-3/4">{{ book.author_book }}</div>
</div>
<div class="even:bg-yellow-700 odd:bg-amber-400 even:text-white odd:text-black flex py-3 px-5 text-lg">
    <div class="w-1/4">Tên sách:</div>
    <div class="w-3/4">{{ book.name }}</div>
</div>
<div class="even:bg-yellow-700 odd:bg-amber-400 even:text-white odd:text-black flex py-3 px-5 text-lg">
    <div class="w-1/4">Thê loại:</div>
    <div class="w-3/4">{{ cate }}</div>
</div>


{% endblock %}