{% extends 'client/layout/base.html' %}

{% block content %}

    <div class="">
        <h1 class="text-center text-3xl font-bold text-yellow-700 py-5">ĐĂNG NHẬP</h1>
        <form method="post" action="/login" class="flex flex-col items-center gap-5">
            <div class="flex items-center">
                <div class="w-40 ">
                    <i class="fa-solid fa-user pr-2"></i>
                    <label for="username">Tên tài khoản:
                    </label>
                </div>
                <input type="text" name="username" id="username" class="w-72 py-2 px-5 rounded-full focus-within:outline-none">
            </div>

            <div class="flex items-center">
                <div class="w-40 ">
                    <i class="fa-solid fa-lock pr-2"></i>
                    <label for="password">
                        Mật khẩu:
                    </label>
                </div>
                <input type="password" name="password" id="password" class="w-72 py-2 px-5 rounded-full focus-within:outline-none">
            </div>

            <div class="flex gap-5">
                <a href="/sign-up" class="px-8 py-2 border-2 border-yellow-700 hover:text-white text-black text-center text-lg font-semibold rounded-lg duration-500">Đăng ký</a>
                <button type="submit" class="bg-yellow-700 hover:bg-white hover:text-black px-8 py-2 text-white text-center text-xl font-semibold rounded-lg duration-500">
                    Đăng nhập
                </button>
            </div>
        </form>
    </div>
{% endblock %}