{% extends 'client/layout/base.html' %}

{% block content %}
<div class="px-10 py-5 bg-yellow-700 text-white">
    <div class="font-bold text-3xl py-5">THANH TOÁN</div>
    <div class="text-xl font-semibold py-2">Địa chỉ nhận hàng</div>
    <div class="">
        <div class="text-lg font-semibold">ABC</div>
        <div class="">A100</div>
    </div>
    <div class="text-xl font-semibold py-2">Sản phẩm</div>
    <div class="">
        {% for order in orders %}
        <div class="order-item flex items-center justify-between gap-10 bg-neutral-200 px-5 py-2 my-2 rounded-lg text-black">
            <div class="h-24 w-20 ">
                <img src="{{ order.book.image }}" alt="" class="drop-shadow-lg h-full w-full rounded-lg">
            </div>
            <div class="w-[25rem] truncate">{{ order.book.name }}</div>
            <input type="hidden" name="" value="{{ order.book.id }}">
            <div class="min-w-[10rem] flex items-center font-semibold text-xl justify-center quantity">
                {{ order.quantity }}
            </div>
            <div class="min-w-[15rem] font-semibold text-xl price-item">{{ order.book.price }}</div>
        </div>
        {% endfor %}
    </div>
    <div class="text-xl font-semibold py-2">Phương thức thanh toán</div>
    <div class="text-black font-semibold text-lg flex gap-5 pb-5">
        {% for payment in payments %}
        <div class="flex item-center gap-5 p-5 bg-neutral-200 rounded-lg cursor-pointer">
            <input type="hidden" name="methodID" value="{{payment.id}}">
            <input onchange="chooseMethod(this)" type="radio" id="pay-{{ payment.id }}" class="" name="pay" value="{{ payment.method }}">
            <label for="pay-{{ payment.id }}">{{ payment.method }}</label>
        </div>
        {% endfor %}
    </div>
    <div class="border-t-2 border-white py-5">
        <div class="py-1 flex justify-between">
            <div class="">Tổng tiền hàng</div>
            <div class="total-price">100000</div>
        </div>
        <div class="py-1 flex justify-between">
            <div class="">Phí vận chuyển</div>
            <div class="">{{ "{:,.0f}".format(10000) }}</div>
        </div>
        <div class="py-1 flex justify-between">
            <div class="">Giảm giá phí vận chuyển</div>
            <div class="">-{{ "{:,.0f}".format(10000) }}</div>
        </div>
        <div class="py-1 flex justify-between">
            <div class="">Phương thức thanh toán</div>
            <div class="method">Chưa chọn</div>
        </div>
        <div class="py-1 flex justify-between">
            <div class="text-2xl font-bold">Thành tiền</div>
            <div class="text-2xl font-bold final-price">100000</div>
        </div>
    </div>
    <div class="flex justify-end">
        <div onclick="pay()" class="cursor-pointer w-[15rem] py-3 text-2xl bg-amber-400 text-center rounded-lg text-yellow-700 font-bold">Đặt hàng
        </div>
    </div>
<script src="{{ url_for('static', filename='js/order.js') }}"></script>

</div>
{% endblock %}