{% extends 'admin/manage.html' %}

{% block manage %}
<div class="">
    <form action="/admin/management" method="get" class="w-full flex justify-center my-2">
        <input type="text" name="kw" class="w-3/4 py-2 px-4 rounded-lg border-2 border-blue-600" />
        <button type="submit" class="ml-5 py-2 px-5 bg-blue-600 text-white rounded-lg">Tìm kiếm</button>
    </form>
    <table class="w-full">
        <tr class="bg-blue-600 text-white border">
            <th class="w-1/5 py-2">Mã sách</th>
            <th class="w-1/5 py-2">Tên sách</th>
            <th class="w-1/5 py-2">Thể loại</th>
            <th class="w-1/5 py-2">Giá sách</th>
            <th class="w-1/5 py-2">Số lượng</th>
        </tr>
        {% for book in books %}
        <tr class="border">
            <td class="w-1/5 py-2 text-center">{{ book.book.id }}</td>
            <td class="w-1/5 py-2">{{ book.book.name }}</td>
            <td class="w-1/5 py-2 text-center">{{ book.cate }}</td>
            <td class="w-1/5 py-2 text-center">{{ "{:,.0f}".format(book.book.price) }}</td>
            <td class="w-1/5 py-2 text-center">{{ book.book.quantity }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}

