{% extends 'admin/admin.html' %}
{% block more %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div class="flex ">
    <div class="w-3/4">abc</div>
    <div class="flex flex-col">
        <div class="shadow-md rounded-lg p-8">
            <canvas id="barChart" class="w-96 h-96"></canvas>
        </div>
        <div class=" rounded-lg p-8">
            <canvas id="pieChart" class="w-96 h-96"></canvas>
        </div>
    </div>
</div>
<script>
    const bar = document.getElementById('barChart');
    const pie = document.getElementById('pieChart')

    new Chart(bar, {
      type: 'bar',
      data: {
        labels: ["{{ user.username }}", 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
        datasets: [{
          label: 'Sách bán chạy nhất',
          data: [12, 19, 3, 5, 2, 3],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
    new Chart(pie, {
      type: 'doughnut',
      data: {
        labels: ["{{ user.username }}", 'Blue', 'Yellow'],
        datasets: [{
          label: 'Thể loại mua nhều',
          data: [12, 19, 3, ],
          borderWidth: 1
        }]
      }
    });
</script>
{% endblock %}
